name: CICD

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - uses: ./ci_utils
        with:
          only_setup: "true"
      - name: Lint Python Code
        run: |
          ./do.sh pylint
      - name: Lint Go Code
        run: |
          ./do.sh golint

  dp_ci:
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Setup docker
        uses: docker-practice/actions-setup-docker@master
      - name: Deploy back-to-back DP-only distribution of ixia-c
        run: |
          ./do.sh topo new dp
      - uses: ./ci_utils
        with:
          test_suite: "dp_feature"
      - name: Get container logs
        if: always()
        run: |
          ./do.sh topo logs
      - name: Archive logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: dp-ci-logs
          path: |
            logs
      - name: Teardown back-to-back DP-only distribution of ixia-c
        run: |
          ./do.sh topo rm dp

  # cpdp_ci:
  #   runs-on: ubuntu-20.04
  #   needs: build
  #   steps:
  #     - name: Checkout source
  #       uses: actions/checkout@v2
  #     - name: Setup docker
  #       uses: docker-practice/actions-setup-docker@master
  #     - name: Deploy back-to-back CP/DP distribution of ixia-c
  #       run: |
  #         GITHUB_USER=${{ secrets.ENV_GITHUB_USER }} GITHUB_PAT=${{ secrets.ENV_GITHUB_PAT }} ./do.sh topo new cpdp
  #     - name: Setup Go
  #       uses: actions/setup-go@v3
  #       with:
  #         go-version: "1.18"
  #     - name: Run go tests
  #       run: |
  #         ./do.sh pregotest
  #         ./do.sh gotest -tags="feature"
  #     - name: Setup Python
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: "3.8"
  #     - name: Run python tests
  #       run: |
  #         ./do.sh prepytest
  #         ./do.sh pytest -m feature
  #     - name: Get container logs
  #       if: always()
  #       run: |
  #         ./do.sh topo logs cpdp
  #     - name: Archive logs
  #       if: always()
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: cpdp-ci-logs
  #         path: |
  #           logs
  #     - name: Teardown back-to-back CP/DP distribution of ixia-c
  #       run: |
  #         ./do.sh topo rm cpdp

  # cpdp_ipv6_ci:
  # runs-on: ubuntu-20.04
  # needs: build
  # steps:
  #   - name: Checkout source
  #     uses: actions/checkout@v2
  #   - name: Setup docker
  #     uses: docker-practice/actions-setup-docker@master
  #   - name: Deploy back-to-back CP/DP distribution of ixia-c
  #     run: |
  #       GITHUB_USER=${{ secrets.ENV_GITHUB_USER }} GITHUB_PAT=${{ secrets.ENV_GITHUB_PAT }} ./do.sh topo new cpdp ipv6
  #   - name: Setup Go
  #     uses: actions/setup-go@v3
  #     with:
  #       go-version: "1.18"
  #   - name: Run go tests
  #     run: |
  #       ./do.sh pregotest
  #       ./do.sh gotest -tags="feature"
  #   - name: Setup Python
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: "3.8"
  #   - name: Run python tests
  #     run: |
  #       ./do.sh prepytest
  #       ./do.sh pytest -m feature
  #   - name: Get container logs
  #     if: always()
  #     run: |
  #       ./do.sh topo logs cpdp
  #   - name: Archive logs
  #     if: always()
  #     uses: actions/upload-artifact@v2
  #     with:
  #       name: cpdp-ipv6-ci-logs
  #       path: |
  #         logs
  #   - name: Teardown back-to-back CP/DP distribution of ixia-c
  #     run: |
  #       ./do.sh topo rm cpdp
